html{ scroll-behavior: smooth; }
body{ font-family:"GmarketSansMedium"; color:rgb(36, 36, 36); background:#f6f6f6; }
a { text-decoration: none; color:none; }
img {max-width:100%; display:block; }
.layout{ max-width:1194px; margin:0 auto; }
.align-center { text-align:center; }
.align-left { text-align:left; }
.align-right { text-align:right; border:1px solid red; }
.font_bold { font-weight:bold; }
.mo { display:none; }
.m-c { margin:0 auto; }



.listStyle-hyphen li {
  position: relative;
  margin: 2px 0 0 0;
  padding: 0 0 4px 30px;
  color: #000;
}
.listStyle-hyphen li:before{
    content: "";
    position: absolute;
    top: 45%;
    left: 6px;
    transform:translateY(-50%);
    width: 10px;
    height: 2px;
    background: #262626;
}

/*색상*/
.color_lightBlue { color:#95b3ce; }
.color_navy { color:#2a465f; }
.color_orange { color:#ffb13b; }
.bg_navy { background:#2a465f; }

/* scroll */
.scroll {
  position: absolute; bottom: 1.5%; left: 50%; 
  transform: translatex(-50%);
  z-index: 2;
  display: inline-block;
  color: #fff;
  transition: opacity .3s;
}

#SCROLL a {
  padding-top: 50px;
}
#SCROLL a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 40px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#SCROLL a span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb9 1.5s infinite;
  box-sizing: border-box;
}
@keyframes sdb9 {
  0% {transform: translate(0, 0); opacity: 0;}
  40% {opacity: 1;}
  80% {transform: translate(0, 15px); opacity: 0;}
  100% {opacity: 0;}
}


/*탑버튼*/
.btn_top_area { position:fixed; bottom:5%; right:5%; z-index: 999; }

.btn_top_area .btn_top { border:none; background:#262626; border-radius:50%; width:50px; height:50px; color:#f3f3f3; font-family:'RixYeoljeongdo_Regular'; cursor: pointer; }

/*sec1*/
.sec1 { padding:5% 0; }
.sec1 .main_top { position:relative; padding-bottom:46.25%; }
/* .sec1 .main_top nav { position:absolute; top:5.2%; } */
.sec1 .main_top ul { display:flex; color:#f3f3f3; }
.sec1 .main_top ul li { margin-right:50px; }
.sec1 .main_top ul li:last-child { margin:0; }
.sec1 .img_mainTop { position:absolute; top:50%; transform:translateY(-50%) } 

/*sec2*/
.sec2 { padding:10.41% 0 7.8% 0; }
.sec2 h2 { margin-bottom:5.2%; }
.sec2 .about_area { display:flex; justify-content: space-between; }
.sec2 .about_area ul { font-size:18px; font-family:'GmarketSansLight'; }
.sec2 .about_area ul.m-b50 { margin-bottom:50px; }
.sec2 .about_area ul.m-b20 li { margin-bottom:20px; }
.sec2 .about_area ul li { line-height:36px; font-weight:bold; }
.sec2 .about_area ul li:first-child { margin-bottom:0; }
.sec2 .ko-name { font-size:36px; font-family:"GmarketSansBold" }
.sec2 .subTitle { display:inline-block; padding:8px 16px 4px 16px; font-family:"GmarketSansBold"; color:#f3f3f3; text-align:center; margin-bottom:10px; }

/*sec3*/
.sec3 .content_area { display:flex; border:1px solid #e1e1e1; padding:30px 0; }
.sec3 .content_area li { padding:100px 10px; width:calc(20% - 20px); border-right:1px solid #e1e1e1; }
.sec3 .content_area li:last-child { border:none; }
.sec3 .content_area p { font-size:48px; font-family:'RixYeoljeongdo_Regular';  }
.sec3 .content_area p span { color:#505050; font-family: 'GmarketSansMedium'; font-size:16px; }
.sec3 .content_area h3 { margin:100px 0 10px 0; font-size: 20px; font-family: 'GmarketSansBold'; }
.sec3 .content_area h4 { margin-top:10px; font-size: 14px; word-break: keep-all; color:#505050; }

/*sec4*/
.sec4 { padding:100px 0; }
.sec4 h2 { font-family:'RixYeoljeongdo_Regular'; font-size:30px; }
.sec4 h2 span { font-family:'GmarketSansMedium'; font-weight:bold;  color:#505050; }
.sec4 ul { margin-bottom:20px; }
.sec4 ul li { margin-bottom:20px; }
.sec4 ul li.img_portfolio { box-shadow:0 0 5px rgba(0,0,0, 0.3); }
.sec4 ul:last-child, .sec4 ul li:last-child { margin:0; }

/*220829 추가 swiper*/
.sec4 .swiper01 { margin-bottom:100px; }
.sec4 .swiper01 .swiper-container { overflow:hidden; }
.sec4 .swiper01 { position: relative;  }
.sec4 .swiper01 .swiper-pagination { bottom:-30px; }
.sec4 .swiper01 .swiper-pagination-bullet { cursor:pointer; border: }
.sec4 .swiper01 .swiper-slide img { max-width: none; width:100%; }

/*모달창*/
.sec4 .img{
  width: auto;
  cursor: pointer;
  transition: 0.3s;
}
/* 이미지 클릭 시, 밝기 조절 */
.sec4 .img:hover {opacity: 0.8;}

.sec4 .modal {
  display: none; /* 모달창 숨겨 놓기 */
  position: fixed; 
  z-index: 1000; /* 모달창을 제일 앞에 두기 */
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto; /* 스크롤 허용 auto */
  cursor: pointer; /* 마우스 손가락모양 */
  background-color: rgba(0, 0, 0, 0.8);
}
/* 모달창 이미지 */
.sec4 .modal_content {
  margin: auto;
  display: block;
  width: 50%; height: auto;
  max-width: 1000px;
  animation-name: zoom;
  animation-duration: 0.8s;
}
/* 모달창 애니메이션 추가 */
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* 닫기 버튼 꾸미기 */
.sec4 .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*sec5*/
.sec5 { padding:50px 0; text-align:center; color:#f3f3f3; }
.sec5 .content_area { padding:200px 0; }
.sec5 h2 { font-size:72px; font-family:'RixYeoljeongdo_Regular';}
.sec5 ul { margin-top:50px; }
.sec5 ul li { margin:20px 0; font-family:'GmarketSansLight'; }
.sec5 ul span { color:#ff7e77; font-family:'RixYeoljeongdo_Regular'; }

footer { font-size:12px; font-family:'GmarketSansLight'; }
footer ul li { margin:10px 0; }

/*1194px 이하일때*/
@media (max-width: 1194px) {
  .layout { width:90%; }
  .pc { display:none; }
  .mo { display:block; }
  
  /*sec1*/
  .sec1 .img_mainTop { left:50%; transform:translate(-50%, -50%); }

  /*sec2*/
  .sec2 .about_area ul { font-size:16px; }

  /*sec3*/
  .sec3 .content_area p { font-size:32px; }
  .sec3 .content_area h3 { font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:1.5; }
  .sec3 .content_area h4 { font-size:12px; }
}

/*750px 이하일때*/
@media (max-width: 750px) {
  html { font-size:62.5%; }

  /* scroll */
  #SCROLL a { padding-top: 5rem; }
  #SCROLL a span {
    width: 2.5rem;
    height: 4rem;
    margin-left: -1rem;
    border-radius: 5rem;
  }
  #SCROLL a span::before {
    top: 0.5rem;
    width: 0.6rem;
    height: 0.6rem;
    margin-left: -0.3rem;
  }


  .listStyle-hyphen li {
    margin: 0.2rem 0 0 0;
    padding: 0 0 0.4rem 3rem;
  }
  .listStyle-hyphen li:before{
      left: 0.6rem;
      width: 1rem;
      height: 0.2rem;
  }
  
  /*sec1*/
  .sec1 .main_top ul { font-size:2.2rem; }
  .sec1 .main_top ul li { margin-right:5rem; white-space: nowrap; }
  
  /*sec2*/
  .sec2 .about_area { flex-wrap:wrap; }
  .sec2 .about_area ul { font-size:1.8rem; margin-bottom:5.0rem; }
  .sec2 .about_area ul.m-b50 { margin-bottom:5rem; }
  .sec2 .about_area ul.m-b20 li { margin-bottom:2rem; }
  .sec2 .about_area ul li { line-height:3.6rem; }
  .sec2 .ko-name { font-size:3.6rem; }
  .sec2 .subTitle { padding:0.8rem 1.6rem; margin-bottom:1.0rem; }
  
  /*sec3*/
  .sec3 h2 { font-size:2.4rem; }
  .sec3 .content_area { flex-wrap:wrap; padding:0; border:none; }
  .sec3 .content_area li { padding:2rem 1rem; width:calc(33% - 2.2rem); border:1px solid #e1e1e1; }
  .sec3 .content_area li:last-child { border:1px solid #e1e1e1; }
  .sec3 .content_area p { font-size:3.2rem; }
  .sec3 .content_area p span { font-size:2rem; }
  .sec3 .content_area h3 { margin-top:2rem; font-size: 2rem; }
  .sec3 .content_area h4 { margin-top:1.0rem; font-size: 1.6rem; color:#505050; }
  
  /*sec4*/
  .sec4 { padding:10rem 0; }
  .sec4 h2 { font-size:2.4rem; }
  .sec4 ul { margin-bottom:2rem; }
  .sec4 ul li { margin-bottom:2rem; }
  .sec4 ul li.img_portfolio { box-shadow:0 0 0.5rem rgba(0,0,0, 0.3); }

  /*220829 swiper*/
  .swiper01 .swiper-pagination { bottom:-3rem; }
  
  /*sec5*/
  .sec5 { padding:5rem 0; }
  .sec5 .content_area { padding:20rem 0; }
  .sec5 h2 { font-size:7.2rem;}
  .sec5 .content_area ul { margin-top:5rem; font-size:2.4rem; }
  .sec5 .content_area ul li { margin:2rem 0;}
  
  .sec5 footer { font-size:1.2rem; }
  .sec5 footer ul li { margin:1rem 0; line-height:2.4rem; }

  /*탑버튼*/
  .btn_top_area .btn_top { width:7rem; height:7rem; font-size:2.0rem; }
}

@media all and (max-width:680px){
  html{font-size:59.375%}
}
@media all and (max-width:640px){
  html{font-size:56.25%}
}
@media all and (max-width:620px){
  html{font-size:54.6875%}
}
@media all and (max-width:590px){
  html{font-size:51.5625%}
}
@media all and (max-width:568px){
  html{font-size:50%}
}
@media all and (max-width:550px){
  html{font-size:48.4375%}
}
@media all and (max-width:530px){
  html{font-size:46.875%}
}
@media all and (max-width:515px){
  html{font-size:45.3125%}
}
@media all and (max-width:500px){
  html{font-size:43.75%}
}
@media all and (max-width:470px){
  html{font-size:42.1875%}
}
@media all and (max-width:465px){
  html{font-size:40.625%}
}
@media all and (max-width:440px){
  html{font-size:39.0625%}
}
@media all and (max-width:414px){
  html{font-size:37.49993%}
}
@media all and (max-width:400px){
  html{font-size:35.9375%}
}
@media all and (max-width:390px){
  html{font-size:34.375%}
}
@media all and (max-width:375px){
   html{font-size:32.8125%}
}
@media all and (max-width:360px){
 html{font-size:31.25%}
 html, body{min-width:360px}
}